<% provide(:title, 'About Us') %>

<div class="inner-banner style-5 background-block" >
  <%= image_tag('non-admin/inner/bg_1.jpg', alt: 'imt', class: 'center-image')  %>
  <div class="vertical-align">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <ul class="banner-breadcrumb color-white clearfix">
            <li><a class="link-blue-2" href="#">home</a> /</li>
            <li><a class="link-blue-2" href="#">tours</a> /</li>
            <li><span>list tours</span></li>
          </ul>
          <h2 class="color-white">all tours for you</h2>
          <p class="color-white-light">Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id pharetra lacus, et hendrerit mi quis leo elementum. Lorem ipsum dolor sit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-wraper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="second-title">
          <h4 class="subtitle color-dr-blue-2 underline">about us</h4>
          <h2>Rockstar Team</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5">
        <div class="simple-text">
          <h3>Who We Are?</h3>
          <p class="color-grey">Pellentesque ac turpis egestas, varius justo et, condimentum augue. Praesent aliquam, nisl feugiat vehicula condimentum, justo tellus scelerisque metus. Pellentesque ac turpis egestas, varius justo et, condimentum augue.</p>
          <p class="color-grey">Pellentesque ac turpis egestas, varius justo et, condimentum augue. Praesent aliquam, nisl feugiat vehicula condimentum, justo tellus scelerisque metus. Pellentesque varius justo et, condimentum augue.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="simple-text">
          <h3>What We Do?</h3>
          <div class="row">
            <div class="col-mob-12 col-xs-6">
              <ul class="color-grey dot-blue-2">
                <li>First Class Flights</li>
                <li>5 Star Accommodations</li>
                <li>Inclusive Packages</li>
                <li>Latest Model Vehicles</li>
                <li>Best Price Guarantee</li>
              </ul>
            </div>
            <div class="col-mob-12 col-xs-6">
              <ul class="color-grey dot-blue-2">
                <li>World Class Service</li>
                <li>Handpicked Hotels</li>
                <li>Accesibility managment</li>
                <li>10 Languages available</li>
                <li>+120 Premium city tours</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-mob-12 col-xs-6 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-0">
        <%= image_tag('non-admin/inner/about.jpg', alt: '', class: 'img-responsive img-full')  %>
      </div>
    </div>
  </div>
</div>
<div class="main-wraper padd-90">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="second-title">
          <h4 class="subtitle color-dr-blue-2 underline">our team</h4>
          <h2>MEET OUR TEAM</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="team-entry">
          <div class="image">
            <%= image_tag('https://www.filepicker.io/api/file/sGyjHsITNCh4B5vzzok0/convert?w=370&h=370&fit=scale', alt: '', class: 'team-img img-responsive')  %>
            <div class="team-layer bg-dark-blue">
              <div class="team-share vertical-align">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-skype"></a>
                <a href="#" class="fa fa-google-plus"></a>
              </div>
            </div>
          </div>
          <h3 class="team-name color-dark-2">Andrew Citores</h3>
          <!--<h5 class="team-position color-dark-2-light">Manager of Tourism</h5>-->
          <!--<p class="color-dark-2-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>-->
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="team-entry">
          <div class="image">
            <%= image_tag('https://www.filepicker.io/api/file/ArsYVqETLysA7INq3kdw/convert?w=370&h=370&fit=scale', alt: '', class: 'team-img img-responsive')  %>
            <div class="team-layer bg-dark-blue">
              <div class="team-share vertical-align">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-skype"></a>
                <a href="#" class="fa fa-google-plus"></a>
              </div>
            </div>
          </div>
          <h3 class="team-name color-dark-2">Bo Thede</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="team-entry">
          <div class="image">
            <%= image_tag('https://www.filepicker.io/api/file/WfuBrEP7QV2m9qyTSx6Z/convert?w=370&h=370&fit=scale', alt: '', class: 'team-img img-responsive')  %>
            <div class="team-layer bg-dark-blue">
              <div class="team-share vertical-align">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-skype"></a>
                <a href="#" class="fa fa-google-plus"></a>
              </div>
            </div>
          </div>
          <h3 class="team-name color-dark-2">Bruce Chew</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-wraper bg-grey-2 padd-90">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="second-title">
          <h4 class="subtitle color-dr-blue-2 underline">contact us</h4>
          <h2>Contact Info</h2>
        </div>
      </div>
    </div>
    <div class="contact-info col-xs-12 col-sm-8 col-sm-offset-2 text-center">
      <div class="contact-line color-grey-3">We help you plan some of the most unforgettable trips of your life!</div>
      <div class="contact-line color-grey-3">We know group trips are hard to plan and we understand that sometimes things can get confusing.</div>
      <div class="contact-line color-grey-3">Don't worry! We are here to help!</div>
      <h4 class="color-grey-3"><b>Normal Support Hours</b></h4>
      <div class="contact-line color-grey-3">Monday - Friday</div>
      <div class="contact-line color-grey-3">9am - 5pm PST</div>
    </div>
  </div>
</div>